pydantic
fastapi
uvicorn[standard]
psycopg2-binary
psycopg2
sqlalchemy
python-jose[cryptography]
argon2-cffi==23.1.0
pandas
numpy
sentence_transformers
joblib
pgeocode
matplotlib
python-dotenv
scikit-learn
mlflow
python-multipart
prometheus-fastapi-instrumentator==7.0.0